*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------------------BODY */
body{
    width: 100%;
    background: #0c111b;
    position: relative;
    font-family: roboto, sans-serif;
}

.navbar{
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #000000;
    z-index: 9;
    display: flex;
    align-items: center;
}
/* 로고 이미지 크기 */
.brand-logo{   
    height: 70px;
}
/* 왼쪽 상단 메뉴바 */
.nav-links{
    margin-top: 1%;
    display: flex;
    list-style:none;
}

.nav-items a{
    margin-left: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    opacity: 0.9;
}
/* 오른쪽 상단 검색 상자 */
.right-container{
    display: block;
    margin-left: auto;
}

.search-box{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color:#fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
}

.search-box:focus{
    width: 400px;
    border-color: #1f80e0;
}
/* 구독 버튼 */
.sub-btn{
    background: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    /* 테두리 윤곽선  border,outline */
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
}
/* 오른쪽 끝 상단 로그인 상자  */
.login-link{
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}
.info{
    color: #fff;
    /* position:relative; */
    /* relative == 요소를 자기 기준으로 배치 */
    /* top:0%; */

    /* transform: translate(-50%, -130%); */
    /* color:#eceef3 ;  */
    margin-top: 5%;
    margin-left: 40%;
    font-size: 150%;
}

.slide1{
    position:absolute;
    /* margin-left: 100%; */
    /* width: 200%; */
    /* height: 100%;     */
    border-radius: 5% 5% 5% 5%;
    height:70vh;
    width: 50vw;
}


.text {
    margin-top: 10%;
    margin-left: 30%;
  }
  
  .text .home-story-text-block {
    height: 50%;
    max-width: 50%;
    width: auto;
    background: #357;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 40%;
    padding: 2%;
    color: #fff;
  }
  
  .home-story-text-block{
    font-weight: bolder !important;
    /* 문장 생략 */
    overflow: hidden;
    line-height: 1.2;
    text-overflow : ellipsis ;
    /* -webkit-line-clamp: 10;  */
    /* word-wrap : break-word; */
    /* white-space : nowrap ; */
    display: -webkit-box;
    -webkit-box-orient:vertical;
    /* height:4.8em;  */
    /* float:left; */
  }



.c{
    float:left;
}

.control{
    padding-left: 5%;
    /* float:left; */
    /* display:inline-block; */
    /* flex-direction: column; */
    /* float:left; */
}




